<%= form_tag "/surfboards", method: :post do %>

  <div class="form-group">
    <label>Shaper:</label>
    <input type="text" name="shaper" >
  </div>
   <div class="form-group">
    <label>Length:</label>
    <input type="text" name="length" >
  </div>
  <div class="form-group">
    <input type="submit" name="submit" >
  </div>



<% end %>